* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

body {
    background-image: url("..//img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    text-align: center;
    margin: 0 auto;
    margin-top: 65px;
    border: 1px solid #f9f0dc;
    border-radius: 10px;
    padding: 10px;
    background-color: #eaac39;
    width: 50%;
}

div h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

input {
   height: 30px;
   width: 200px;
   font-size: 20px;
   padding: 10px;
   border: 2px solid #cd9d3d; 
   border-radius: 10px;

}

label {
    display: inline-block;
    font-size: 25px; 
    width: 250px;
    border: 2px solid #cc9d40;
    border-radius: 15px;
    color: rgb(24, 23, 23);
    background-color: #fadb9e; 
    margin-bottom: 10px;
    padding: 5px;
}

button:hover {
    cursor: pointer;
    color: #dc6d05;
    
}

button {
    font-size: 25px;
    background-color: rgb(243, 200, 131);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(164, 105, 3);
}

a:hover {
    text-decoration: underline;
}